* {
  max-width: 700px;
  margin: auto;
}


/*body {
    min-width: 500px;
}*/

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

.header{
  background-color: #28334AFF;
  color: #FBDE44FF;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

.abody{
  background-color: #F65058FF;
  color: white ;
}
.bbody{
  background-color: #F65058FF;
  color:white;
}

p,
li {
  font-family: 'Cormorant Garamond';
}

.head {
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

